!!! 5
html
	head 
	title= title
	link(rel='stylesheet', type='text/css', href='stylesheets/jquery-ui-1.8.21.custom.css')
	script(src='javascripts/jquery-1.7.2.min.js')
	script(src='javascripts/jquery-ui-1.8.21.custom.min.js')
	// style(src='stylesheets/style.css')
