html
	script(src="javascripts/auto.js")
	body
		div.demo
		div.ui-widget
			label Genes:
			input#genes
		div.demo-description
			p The Autocomplete widgets provides suggestions while you type into the field. Here the suggestions are bird names, displayed when at least two characters are entered into the field.
			p Similar to the remote datasource demo, though this adds some local caching to improve performance. The cache here saves just one query, and could be extended to cache multiple values, one for each term.

