h3
    div#brain-img
    div.ui-widget
        form()
            label Genes:
            input(name='gene')#genes
            button(type='button', value='Update Fragments')#btnUpdate Update
            label Associated fragments:
            select(multiple)#frags
            label#hint Select a fragment to display on the image above.
    script(src="javascripts/auto.js")
    script(src="javascripts/brain-json.js")
    script(src="javascripts/brain.js")