html
	script(src="javascripts/auto.js")
	script(src="javascripts/brain.js")
	body
		div#brain-img
			object(data='images/brain-map.svg', height='400', type='image/svg+xml', width='550')
		div.ui-widget
			form#gene_input
				label Genes:
				input#genes
				input(type='submit', value='Display')
