html
  include includes/head
  body
    header
    nav
    ul
      li
        a(href="/") Home
      li
        a(href="/data") Data
      li
        a(href="/autocomplete") AutoComplete Test

    section#wrapper!= body
    include includes/foot

        
          