html
      include includes/head
      script(type="text/javascript", src="javascripts/raphael-min.js")
      script(type="text/javascript", src="javascripts/brain.js")
      style(type="text/css")
             #canvas_container {
                   width: 500px;
                   border: 1px solid #aaa;
             }

      body
            div#canvas_container
             include includes/foot

        