body {
  font: 11px helvetica, arial, sans-serif;
}
.ui-widget {
  position: relative;
}
#guide {
  font-size: 14;
  font-family: Times;
}
#genes-ui {
  float: left;
  width: 300px;
}
#frag-ui {
  float: left;
  width: 300px;
}
